.main{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.case{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    width: 400px;
    height: 500px;
    border-width: 1px;
    border-color: red;
    border-style: dashed;
}

.screen{
    display: flex;
    
    
    width: 380px;
    height: 50px;
    padding-right: 10px;
    border-width: 1px;
    border-color: blue;
    border-style: dashed;
    align-items:center;
    justify-content: flex-end;
}

.padmaster{
    display: flex;

    width: 380px;
    margin-top: 10px;
    height: 420px;
    border-width: 1px;
    border-color: green;
    border-style: dashed;
}

.pad{
    display: flex;
    border-width: 1px;
    border-color: purple;
    border-style: dashed;
    align-items: center;
    flex-wrap: wrap;
}

#digipad{
    width: 285px;
    height: 420px;
}

#operpad{
    width: 95px;
    height: 420px;
}

.digibtn{
    width: 33%;
    height: 25%;
}

.operbtn{
    width: 100%;
    height: 20%;
}